<!-- Gallery Section -->
<div *ngIf="showUploadForm == false">
  <h3>{{userName}}</h3>
<button mat-raised-button 
(click)="showForm()" 
color="primary">Upload 
</button>

<h3>Gallery Images</h3>

<mat-spinner
 diameter=30
 *ngIf="showGalleryLoading"
 ></mat-spinner>

 <div *ngIf="showGalleryLoading == false">
   <div>
     <button mat-flat-button color="accent" style="margin-right:5px"
            (click)="decrement()">Back</button>
            
     <button mat-flat-button color="accent"
            (click)="increment()" >Next</button>
   </div>
   <br>
   <img  
      class='gallery-image'
      width="40" height="40"
      
      src="{{imageToDisplay}}"
      />
 </div>
</div>
<!--*ngFor="let record of imagesGallery"  -->
<!-- Upload Section -->
<div *ngIf="showUploadForm">
  <div *ngIf="isUploading">
    <h3>Uploading {{currentUploadingNumber}} of {{imagesUpload.length}}</h3>
    <br>
    <mat-progress-bar color="primary" 
                      mode="determinate"
                      [value]="uploadingProgressBarValue">
    </mat-progress-bar>
    <br>
    <button mat-raised-button color="warn" 
                              (click)="cancelUpload()">
    Cancel Upload                          
    </button>
  </div>

  <div *ngIf="isUploading == false">
    <h3>Upload Form</h3>
  <br>
  <input type='file' (change)="onSelectFile($event)" multiple/>
  <br>
  <br>
  <button mat-raised-button 
          (click)="startUpload()"
          class='uploadButton'
          color='primary'>
  Upload</button>
  </div>
  

</div>
