<!-- Gallery Section -->
<div *ngIf="showUploadForm == false">
  <h3>{{userName}}</h3>
<button mat-raised-button 
(click)="showForm()" 
color="primary">Upload 
</button>

<h3>Gallery Images</h3>

<mat-spinner
 diameter=30
 *ngIf="showGalleryLoading"
 ></mat-spinner>

 <div *ngIf="showGalleryLoading == false">
   <img  
      class='gallery-image'
      width="40" height="40"
      *ngFor="let record of imagesGallery"
      src="{{record.imageName}}"
      />
 </div>
</div>

<!-- Upload Section -->
<div *ngIf="showUploadForm">
  <div *ngIf="isUploading">
    <h3>Uploading ...</h3>
    <mat-spinner  diameter=30></mat-spinner>
  </div>

  <div *ngIf="isUploading == false">
    <h3>Upload Form</h3>
  <br>
  <input type='file' (change)="onSelectFile($event)" multiple/>
  <br>
  <br>
  <button mat-raised-button 
          (click)="startUpload()"
          class='uploadButton'
          color='primary'>
  Upload</button>
  </div>
  

</div>
